<div class="upper-container">
    <section class="topbar">
        <div><i class="fa fa-phone" style="margin-left: 20px;"></i> <span>(+977) 985-1066960</span></div>
        <div><i class="fa fa-map-marker" style="margin-left: 20px;"></i><span>BHUMLUTAR 45215, NEPA</span>L</div>
        <div><i class="fa fa-envelope" style="margin-left:20px"></i><span>INFO@HILLTARRESORT.COM</span></div>


    </section>
    <section class="side-content">
        <div class="login" style="margin-right: 10px;">Login</div> |
        <div class="registration" style="margin-left: 10px;">Registration</div>
    </section>
</div>